:root, [data-bs-theme=light] {
  --bs-body-font-family: 'IBM Plex Mono', monospace;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

.mt-5 {
  margin-top: 3rem!important;
}

.mt-7 {
  margin-top: 6rem !important;
}

.mt-8 {
  margin-top: 7.5rem !important;
}

.me-0 {
  margin-right: 0!important;
}

.me-2 {
  margin-right: .5rem!important;
}

.me-4 {
  margin-right: 1.5rem!important;
}

.me-5 {
  margin-right: 3rem!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-2 {
  margin-bottom: .5rem!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.mb-5 {
  margin-bottom: 3rem!important;
}

.mb-6 {
  margin-bottom: 4.5rem !important;
}

.mb-7 {
  margin-bottom: 6rem !important;
}

.mb-8 {
  margin-bottom: 7.5rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.ms-4 {
  margin-left: 1.5rem!important;
}

.pt-4 {
  padding-top: 1.5rem!important;
}

.pt-6 {
  padding-top: 4.5rem !important;
}

.pt-8 {
  padding-top: 7.5rem !important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.pb-3 {
  padding-bottom: 1rem!important;
}

.pb-4 {
  padding-bottom: 1.5rem!important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.ps-0 {
  padding-left: 0!important;
}

