@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-b0693139714968c5103fd30baaed604e.woff2) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-602fd97843465eb51f082d46e29c807d.woff2) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-063ae9a11a59b024476ade47fc2d1af6.woff2) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-19c6b0b0cadd9ec3d032dac8c8b4ffb6.woff2) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-186f4a1a852c9e0c0b54696d61e110dd.woff2) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-c9c3cfdfc8f3c2f9b23b5a93058f46e5.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-906ec406ae49b974dd62701b3e582129.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-b5e9fd536f17a9b8050f5378e09bf6b0.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-dc03abf05279e39e41b0ced65d0d163d.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-2f4055e9df84095927b7dab84b95c507.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-4b35290c85cccaa38e58fe86187f62d5.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-76d1b466d2b7089434bcaf527e3041d1.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-16b9b0c9ca14d3457dd77bce04025d7d.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-ea6f3f806b28b328cd53a1c9d419a8f8.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../assets/fonts/IBM%20Plex%20Mono-2c4b6a34051f9c661b96b680c1e0f124.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}