/* Preloader Styling */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(230,230,230);
  z-index: 9999;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  opacity: 1;
  transition: opacity 0.75s ease;
  padding: 2rem;
}

#preloader.fade-out {
  opacity: 0;
}

#preloader-logo {
  position: absolute;
  /*top: 42vh;*/
  min-width: 250px;
  max-width: min(40vw, 1000px);
}

/* Play-Button im Video in Webkit-Browsern (Safari) ausblenden */

video::-webkit-media-controls-play-button, video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls {
  display: none !important;
}

#preloader {
}

.background-video {
  pointer-events: none;
}

