html {
  text-transform: uppercase;
  font-size: 16px;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 2px 8px 2px 8px;
}

a {
  /*font-size: 1.2rem;*/
}

p {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

li {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

@media (max-width: 1200px) {
  html {
    /*font-size: 15px!important;*/
  }
}

@media (max-width: 992px) {
  html {
    font-size: 15px!important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px!important;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px!important;
  }
}

