.voice-item {
  color: #bcbcbc;
  transition: color 0.3s ease-in-out;
}

.voice-item.voices-scroll-highlight {
  color: #000000;
}

/* Neue Stile für die Trennlinien */

hr {
  color: #868e96;
  opacity: 1;
  transition: color 0.4s ease-in-out;
  margin: 0;
  margin-top: 2px;
}

hr.hr-highlight {
  color: #000000;
}

.voices-zitat {
  font-size: 1.2rem!important;
  line-height: 1.4rem;
  max-width: 1000px;
  width: 90%;
}

.voices-person {
  font-size: 0.9rem!important;
}

